/Homework2/nbproject/private/
/Homework2/build/
/Homework2/dist/
/Workshop2_MusicLibrary/WebApplication1/nbproject/private/
/Workshop2/Workshop2_Library/nbproject/private/
/Workshop2/Workshop2_MusicLibrary/nbproject/private/
/Workshop2/Workshop2_Bank/nbproject/private/
/Workshop2/Workshop2_MusicLibrary/build/
/Workshop2/Workshop2_MusicLibrary/dist/
/Workshop2/Workshop2_Library/build/
/Workshop2/Workshop2_Library/dist/