<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>Controller.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAccountController</servlet-name>
        <servlet-class>Controller.RemoveAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>Controller.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllAccountController</servlet-name>
        <servlet-class>Controller.ListAllAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositController</servlet-name>
        <servlet-class>Controller.DepositController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawController</servlet-name>
        <servlet-class>Controller.WithdrawController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWalletController</servlet-name>
        <servlet-class>Controller.UpdateWalletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAccountController</servlet-name>
        <url-pattern>/RemoveAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllAccountController</servlet-name>
        <url-pattern>/ListAllAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositController</servlet-name>
        <url-pattern>/DepositController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawController</servlet-name>
        <url-pattern>/WithdrawController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWalletController</servlet-name>
        <url-pattern>/UpdateWalletController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>accountPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
